.stopBox {
    background-color: white;
    position: absolute;
    z-index: 1000;
    width: 400px;
    max-height: calc(100% - 60px);
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    overflow-y: auto;
  }
  
  .closeBtn {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #ff0000;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .stopBoxHeader{
    width: 100%;
    padding: 20px 20px 0 20px;
    position: sticky;
    background: white;
    top: 0;
    z-index: 2;
  }
  
  .stopBoxTitle {
    font-size: 20px;
    margin: auto 0;
    display: flex;
    font-weight: bold;
    padding: 10px;
  }
  
  .busRouteTitle {
    margin: auto 0;
  }
  
  .busRouteNumber {
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    margin: auto 10px;
    margin-left: 0px;
    font-size: 25px;
    font-weight: 600;
  }
  
  .stopBoxDivider{
    height: 1px;
    border-width: 0;
    background-color: rgb(177, 174, 174);
  }
  
  .busBranch {
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    margin: auto 10px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .busTimes {
    width: calc(100% - 20px);
    padding: 10px 0;
  }
  
  .busTime {
    min-height: 60px;
    height: max-content;  
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
    display: flex;
    
  }
  
  .busDirection {
    height: max-content;
    font-size: 16px;
    margin: auto;
  }
  
  .busMinutes {
    height: max-content;
    min-width: 55px;
    font-size: 16px;
    margin: auto 3px;
    font-weight: bold;
  }

@media screen and (max-width: 640px) {
    .stopBox{
        width: calc(100% - 40px);
        max-height: calc(50% + 5px);
        top: unset;
        bottom: 0;
    }
}

@media screen and (max-width: 393px) {

}