
.busMarker {
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 50%;
}

.busStopBtn {
  border: 3px solid;
  border-color: red;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.busStopIcon {
	width: 20px;
  height: 20px;
  display: none;
}


.infoBox{
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: 400px;
  max-height: 500px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  overflow-y: auto;
}

.infoBoxHeader{
  width: 100%;
  padding: 20px 20px 0 20px;
  position: sticky;
  background: white;
  top: 0;
  z-index: 2;
}

.infoBoxTitle {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}

.logo {
  height: 50px;
}

.infoBoxDivider{
  height: 2px;
  border-width: 0;
  background-color: rgb(177, 174, 174);
}

.route {
  height: 70px;
  width: 100%;
  margin: 5px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.routeTitle{
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
}

.routeNum {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  margin: 10px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.tags {
  position: relative;
  width: 100%;
}

.tag {
  background-color: red;
  color: white;
  font-weight: bold;
  width: fit-content;
  margin: 10px;
  padding: 3px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}