* {
  font-family: "Helvetica Neue", OpenSans, Arial, sans-serif;
  margin:0;
}


::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

:root {
  --white: #FFFFFF;
  --red: #ff0000;
  --light: #FFFFFF;
  --text: #191919;
  
  --background: #f8f8f8;
  --background-alt: #FFFFFF;

}

.dark {
  --light: #ff0000;
  --background: #232323;
  --background-alt: #2b2b2b;
  --text: #f0ecec;
}

#root {
  min-height: 100vh;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}